
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

### JetBrains ###
*.iml
.idea/*

## Testing ##
.pytest_cache
.hypothesis
 Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/